.profile__button-avatar{
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    border: none;
}
.profile__button-avatar::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/button-avatar.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}
.profile__button-avatar:hover::before{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}