.element__like {
    border: none;
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    width: 22px;
    height: 19px;
    justify-self: end;
    cursor: pointer;
}
.element__like:hover {
    opacity: 0.5;
}